h1{
    color: white;
}
body{
    background-color: black;
}
div{
    color: white;
    position: sticky;
    top: 0%;
    border: 1px solid white;
    padding: 1%;
    background-color: grey;
    margin: 1%;
} 
li{
    color: white;
    list-style-type: none;
}
#foot{
    text-align: center;
    background-color: black;
    border: none;
}